/* Bebas Neue */

@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueBold.eot');
    src: local('Bebas Neue Bold'), local('BebasNeueBold'),
        url('../fonts/BebasNeue/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue/BebasNeueBold.woff2') format('woff2'),
        url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff'),
        url('../fonts/BebasNeue/BebasNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeue-Thin.eot');
    src: local('Bebas Neue Thin'), local('BebasNeue-Thin'),
        url('../fonts/BebasNeue/BebasNeue-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue/BebasNeue-Thin.woff2') format('woff2'),
        url('../fonts/BebasNeue/BebasNeue-Thin.woff') format('woff'),
        url('../fonts/BebasNeue/BebasNeue-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueLight.eot');
    src: local('Bebas Neue Light'), local('BebasNeueLight'),
        url('../fonts/BebasNeue/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue/BebasNeueLight.woff2') format('woff2'),
        url('../fonts/BebasNeue/BebasNeueLight.woff') format('woff'),
        url('../fonts/BebasNeue/BebasNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueBook.eot');
    src: local('Bebas Neue Book'), local('BebasNeueBook'),
        url('../fonts/BebasNeue/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue/BebasNeueBook.woff2') format('woff2'),
        url('../fonts/BebasNeue/BebasNeueBook.woff') format('woff'),
        url('../fonts/BebasNeue/BebasNeueBook.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/BebasNeue/BebasNeueRegular.eot');
    src: local('Bebas Neue Regular'), local('BebasNeueRegular'),
        url('../fonts/BebasNeue/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeue/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeue/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeue/BebasNeueRegular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Arial */
@font-face {
    font-family: 'Arial';
    src: url('Arial-ItalicMT.eot');
    src: local('Arial Italic'), local('Arial-ItalicMT'),
        url('../fonts/Arial/Arial-ItalicMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/Arial-ItalicMT.woff2') format('woff2'),
        url('../fonts/Arial/Arial-ItalicMT.woff') format('woff'),
        url('../fonts/Arial/Arial-ItalicMT.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arial';
    src: url('ArialMT.eot');
    src: local('Arial'), local('ArialMT'),
        url('../fonts/Arial/ArialMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/ArialMT.woff2') format('woff2'),
        url('../fonts/Arial/ArialMT.woff') format('woff'),
        url('../fonts/Arial/ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldItalicMT.eot');
    src: local('Arial Bold Italic'), local('Arial-BoldItalicMT'),
        url('../fonts/Arial/Arial-BoldItalicMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/Arial-BoldItalicMT.woff2') format('woff2'),
        url('../fonts/Arial/Arial-BoldItalicMT.woff') format('woff'),
        url('../fonts/Arial/Arial-BoldItalicMT.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-BoldItalic.eot');
    src: local('Arial Narrow Bold Italic'), local('ArialNarrow-BoldItalic'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.woff') format('woff'),
        url('../fonts/Arial/ArialNarrow-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-Bold.eot');
    src: local('Arial Narrow Bold'), local('ArialNarrow-Bold'),
        url('../fonts/Arial/ArialNarrow-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/ArialNarrow-Bold.woff2') format('woff2'),
        url('../fonts/Arial/ArialNarrow-Bold.woff') format('woff'),
        url('../fonts/Arial/ArialNarrow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow-Italic.eot');
    src: local('Arial Narrow Italic'), local('ArialNarrow-Italic'),
        url('../fonts/Arial/ArialNarrow-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/ArialNarrow-Italic.woff2') format('woff2'),
        url('../fonts/Arial/ArialNarrow-Italic.woff') format('woff'),
        url('../fonts/Arial/ArialNarrow-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Arial Narrow';
    src: url('ArialNarrow.eot');
    src: local('Arial Narrow'), local('ArialNarrow'),
        url('../fonts/Arial/ArialNarrow.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/ArialNarrow.woff2') format('woff2'),
        url('../fonts/Arial/ArialNarrow.woff') format('woff'),
        url('../fonts/Arial/ArialNarrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldMT.eot');
    src: local('Arial Bold'), local('Arial-BoldMT'),
        url('../fonts/Arial/Arial-BoldMT.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Arial/Arial-BoldMT.woff2') format('woff2'),
        url('../fonts/Arial/Arial-BoldMT.woff') format('woff'),
        url('../fonts/Arial/Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}